body
{
	background: url(../intr/background.png) #E5E5E5;
	margin: 0px;
}

img { border: 0px; }

div,form { margin: 0px; padding: 0px; }

a { color: #4f4f6f; }
a:visited { color: #7f7f9f; }
a.viewselected,a.viewselected:visited,a.hiddenurl,a.hiddenurl:visited { color: black; text-decoration: none; }
a.outer2small,a.outer2small:visited { color: #7f7f7f; }

#box1button { color: #7f7f7f; }

td.box1text
{
	color: #7f7f7f;
	background: #f8f8f8 url(../intr/1fill.png) top left;
	padding-bottom: 4px;
	font-family: "Lucida Grande",Verdana,Arial,Helvetica;
	font-size: 70%; 
	line-height: 150%;
}

td.abox1text a { color: #88889d; }
td.abox1text a:visited { color: #a7a7bd; }


td.box3text
{
	font-family: "Lucida Grande",Verdana,Arial,Helvetica;
	font-size: 75%; 
	line-height: 150%;
}

td.box3textsmall
{
	font-family: "Lucida Grande",Verdana,Arial,Helvetica;
	font-size: 70%; 
	line-height: 150%;
}

td.outer2small
{
	font-family: "Lucida Grande",Verdana,Arial,Helvetica;
	font-size: 70%; 
	line-height: 150%;

	color: #7f7f7f;
}

img.sc
{
}

img.screenshot
{
	border-color: black;
	border-width: 1px;
	border-style: solid;
}

img.screenshotlight
{
	border-color: #D9D9D9;
	border-width: 1px;
	border-style: solid;
}

img.screenshotborderless
{
	border-color: white;
	border-width: 1px;
	border-style: solid;
}

img.link
{
	cursor: hand;
}

font.date
{
	font-style: italic;
	font-family: "Lucida Sans", "Lucida Grande",Verdana,Arial,Helvetica;
}

table.reg,table.regcentered,table.screenshot,input
{
	font-family: "Lucida Grande",Verdana,Arial,Helvetica;
	font-size: 100%;
	line-height: 150%;
}

table.regsmall
{
	font-family: "Lucida Grande",Verdana,Arial,Helvetica;
	font-size: 80%;
	line-height: 150%;
}

table.regcentered td
{
	text-align: center;
}

table.regcentered td.headleft,table.regcentered tr.headleft
{
	font-weight: bold;
	text-align: left;
}

table.regcentered td.left
{
	text-align: left;
}

td.head,tr.head
{
	font-weight: bold;
}

table.viewpanel
{
	font-family: "Lucida Grande",Verdana,Arial,Helvetica;
	font-size: 80%;
}

table.list
{
	font-family: "Lucida Grande",Verdana,Arial,Helvetica;
	font-size: 100%;
	line-height: 150%;
}

table.list td.content
{
	text-align: left;
	vertical-align: top;
	padding-left: 0.5em; 
	padding-top: 0.25em; 
	padding-bottom: 0.25em;
	line-height: 150%;
}

table.list td.contentmiddle
{
	text-align: left;
	vertical-align: middle;
	padding-left: 0.5em; 
	padding-top: 0.25em; 
	padding-bottom: 0.25em;
	line-height: 150%;
}

table.list td.contentright
{
	text-align: right;
	vertical-align: top;
	padding-left: 0.5em; 
	padding-top: 0.25em; 
	padding-bottom: 0.25em;
	line-height: 150%;
}

p.imagecaption,font.imagecaption,td.imagecaption
{
	font-family: "Lucida Grande",Verdana,Arial,Helvetica;
	font-size: 75%; 
	line-height: 140%;
}

table.screenshot
{
	margin-bottom: 1em;
	margin-left: 1px;
	padding: 0px;
	font-family: "Lucida Grande",Verdana,Arial,Helvetica;
	font-size: 100%;
}

table.screenshotmargin
{
	margin-bottom: 1em;
	padding: 0px;
	font-family: "Lucida Grande",Verdana,Arial,Helvetica;
	font-size: 100%;
}

table.screenshotmarginleft
{
	margin-bottom: 1em;
	padding: 0px;
	font-family: "Lucida Grande",Verdana,Arial,Helvetica;
	font-size: 100%;
}

table.screenshotmargin td
{
	padding-left: 1em;
	margin: 0px;
}

table.screenshotmarginleft td
{
	padding-right: 1em;
	margin: 0px;
}



p.reg
{
	font-family: "Lucida Grande",Verdana,Arial,Helvetica;
	font-size: 80%;
	line-height: 150%;
}

table.chart
{
	font-family: "Lucida Grande",Verdana,Arial,Helvetica;
	font-size: 90%;

	text-align: center;

	border-collapse: collapse;
}

table.chart td.fullsize
{
	font-size: 111%;
}

table.chart td.head
{
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}


table.chart td.headunderlined
{
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	font-weight: bold;

	border-bottom-width: 1px;
	border-bottom-color: black;
	border-bottom-style: solid;
}




table.chart td.horizdiv
{
	padding-left: 10px;
	padding-right: 10px;
}

table.reg td.lefttop,table.chart td.lefttop
{
	padding: 5px;
	vertical-align: top;
}

table.reg td.middletop,table.chart td.middletop
{
	border-left-width: 1px;
	border-left-color: #d9d9d9;
	border-left-style: solid;
	padding: 5px;
	vertical-align: top;
}

table.reg td.leftmiddle,table.chart td.leftmiddle
{
	border-top-width: 1px;
	border-top-color: #d9d9d9;
	border-top-style: solid;
	padding: 5px;
	vertical-align: top;
}

table.reg td.middlemiddle,table.chart td.middlemiddle
{
	border-left-width: 1px;   
	border-left-color: #d9d9d9;
	border-left-style: solid;
	border-top-width: 1px;
	border-top-color: #d9d9d9;
	border-top-style: solid;
	padding: 5px;
	vertical-align: top;
}



table.chartdk
{
	font-family: "Lucida Grande",Verdana,Arial,Helvetica;
	font-size: 90%;

	text-align: center;

	border-collapse: collapse;
}

table.chartdk td.head
{
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	background: white;
}

table.chartdk tr.head
{
	background: white;
}


table.chartdk td.headunderlined
{
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	font-weight: bold;

	border-bottom-width: 1px;
	border-bottom-color: black;
	border-bottom-style: solid;
	background: white;
}


table.chartdk td.horizdiv
{
	padding-left: 10px;
	padding-right: 10px;
}

table.chartdk td.lefttop
{
	padding: 5px;
	vertical-align: top;
	background: url(../intr/chartdkbk.png) #c0c0c0;
}

table.chartdk td.middletop
{
	border-left-width: 1px;
	border-left-color: white;
	border-left-style: solid;
	padding: 5px;
	vertical-align: top;
	background: url(../intr/chartdkbk.png) #c0c0c0;
}

table.chartdk td.leftmiddle
{
	border-top-width: 1px;
	border-top-color: white;
	border-top-style: solid;
	padding: 5px;
	vertical-align: top;
	background: url(../intr/chartdkbk.png) #c0c0c0;
}

table.chartdk td.middlemiddle
{
	border-left-width: 1px;   
	border-left-color: white;
	border-left-style: solid;
	border-top-width: 1px;
	border-top-color: white;
	border-top-style: solid;
	padding: 5px;
	vertical-align: top;
	background: url(../intr/chartdkbk.png) #c0c0c0;
}


p.author
{
	line-height: 150%;

	padding-top: 1em;

	font-style: italic;
	font-weight: bold;
	color: #7F7F7F;

	font-family: "Lucida Sans", "Lucida Grande",Verdana,Arial,Helvetica;
}

p.lead
{
	font-weight: bold;
}

p.caption
{
	padding-top: 1em;
	font-weight: bold;
	font-size: 120%;
}

p.captionnopadding
{
	font-weight: bold;
	font-size: 120%;
}

p.subcaption
{
	padding-top: 0.75em;
	font-size: 120%;
}

p.subsubcaption
{
	padding-top: 0.75em;
}

p.subhead
{
	font-weight: bold;
	font-size: 120%;
}

p.source
{
	font-style: italic;
	font-family: "Lucida Sans","Lucida Grande",Verdana,Arial,Helvetica;
}

font.tagline
{
	font-style: italic;


	font-family: "Lucida Sans", "Lucida Grande",Verdana,Arial,Helvetica;
}

p.indent
{
	margin-left: 5em;
	font-size: 90%;
}

p.indbig
{
	margin-left: 5em;
}

p.references,p.legend,p.small,p.footnote
{
	font-size: 90%;
}

p.comment,span.comment
{
	font-style: italic;
	font-family: "Lucida Sans", "Lucida Grande",Verdana,Arial,Helvetica;
}
p.comment i,span.comment i
{
	font-style: normal;
}

div.l1
{
	margin-top: 2em;
	font-weight: bold;
}

div.l2
{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

div.l3
{
	font-size: 90%;
	line-height: 130%;
	margin-left: 1.5em;
}

div.l4
{
	margin-left: 3.5em;
	font-size: 90%;
	line-height: 130%;
}

span.pageno
{
	margin-left: 3em;
	font-style: italic;
	font-family: "Lucida Sans","Lucida Grande",Verdana,Arial,Helvetica;
}

dt
{
	margin-top: 1em;
	font-weight: bold;
}


table.bordered
{
	font-family: "Lucida Grande",Verdana,Arial,Helvetica;
	font-size: 100%;

	text-align: left;

	border-collapse: collapse;
}

table.bordered tr.head,table.bordered td.head
{
	font-weight: bold;
}

table.bordered td
{
	border-width: 1px;
	border-color: #7f7f7f;
	border-style: solid;
	vertical-align: top;
	padding: 3px;
}

font.teletype,pre
{
	font-family: Lucida Console,Courier;
}

p.q
{
	padding-top: 2em;
	font-weight: bold;
}
p.a
{
}

sub,sup { line-height: 0; }

ul
{
	padding-left: 3em;
	padding-top: 0.5em;
	padding-bottom: 1em;
	margin: 0px;
}

span.bignumber { font-size: 250%; line-height: 120%; }

span.acronym {
  font-size: 0.91em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

i { font-family: "Lucida Sans","Lucida Grande",Verdana,Arial,Helvetica; }

